# Normalise line endings for text files
* text=auto eol=lf

# Files excluded from `composer create-project --prefer-dist` archives
/.github export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/tests export-ignore